.tile {
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
}

.black-tile {
    background-color: rgb(196, 216, 228);

}

.white-tile {
    background-color: rgb(240, 241, 240);
}

.tile img {
    width: 80px;
}

.tile .chess-piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}

.tile-highlight:not(.chess-piece-tile)::before {
    content: " ";
    width: 36px;
    height: 36px;
    border-radius: 47%;
    background-color: rgb(194, 205, 205);
}

.tile-highlight.chess-piece-tile::before {
    position: absolute;
    border: 5px solid  rgba(0, 0, 0, 0.363);
    content: " ";
    width: 90px;
    height: 90px;
    border-radius: 50%;
}